@model ListaTarefas.Models.Tarefas

@{
    ViewData["Title"] = "Deletar";
}

<h2>Deletar</h2>

<h3>Você quer mesmo deletar essa tarefa?</h3>
<div>
    <h4>Tarefa</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Inicio)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Inicio)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Fim)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Fim)
        </dd>
@*        <dt>
            @Html.DisplayNameFor(model => model.Nivel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nivel)
        </dd>*@
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="TarefasId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a class="btn btn-info" asp-action="Index">Voltar para lista</a>
    </form>
</div>